::-webkit-scrollbar-track
{
	background-color: #e5e9d8;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #e5e9d8;
}

::-webkit-scrollbar-thumb
{
	background-color: #e5e9d8;
}

body{
    /* background-image:url("images/bg2.png");
    background-attachment:fixed;
    background-repeat:repeat;
    background-size: 700px; */
    background-color: #e5e9d8;
}
.container-768 {width: 100%;max-width: 685px;padding-right: auto;
    padding-left: auto;margin-left: auto;margin-right: auto;box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;}
h1 {font-family: 'K2D', sans-serif; font-size: .95rem;color: #9e7e5e;text-shadow: 1px 1px 1px 0px black;font-weight: 700;}
h2 {font-family: 'K2D', sans-serif;
    color:#c69f76; font-size: .95rem; font-weight: 500; line-height: 1.3rem;}
.rounded-30 {border-radius: 30px;}
.rounded-100 {border-radius: 100px;}
.mt-10{margin-top: 4.5rem;}
.mb-10{margin-bottom: 3.5rem;}

 a{font-family: 'K2D', sans-serif;transition: 0.3s ease-in-out;
     text-decoration: none;color: #966d59; font-size: 0.95rem; font-weight: 600;}
 a{margin: 1rem auto;display: flex;justify-content: space-between;align-items: center; 
    background-color: #fbe5b6; width: 320px; padding: 1rem 2rem; border-radius: 20px;}
 a:hover {background-color: #d3ba9e;color: #966d59;}
 a.disabled {background-color: #fbe5b6;cursor: default;}

/* media qr */
@media (max-width: 575.98px) { 
    .container-768 {zoom:55%;}
    .row {zoom: 115%;}
    h1,h2,a {zoom:125%;}
}
@media (max-width: 767.98px) { 
    .container-768 {zoom:65%;}
    .row {zoom: 115%;}
    h1,h2,a {zoom:125%;}
}
@media (max-width: 991.98px) {
    .container-768 {zoom:75%;}
    .row {zoom: 110%;}
    h1,h2,a {zoom:120%;}    
}
@media (max-width: 1199.98px) { 
    .container-768 {zoom:85%;}
    .row {zoom: 105%;}
    h1,h2,a {zoom:110%;}  
}

@media (max-width: 1399.98px) { 
    .container-768 {zoom:100%;}
    .row {zoom: 100%;}
    h1,h2,a {zoom:100%;}  
}

/* Animation */
@keyframes fadeInUp {
from {
    transform: translate3d(0,50px,0)
}

to {
    transform: translate3d(0,0,0);
    opacity: 1
}
}
@-webkit-keyframes fadeInUp {
from {
    transform: translate3d(0,50px,0)
}

to {
    transform: translate3d(0,0,0);
    opacity: 1
}
}

@keyframes fadeInUp2 {
from {
    transform: translate3d(0,70px,0)
}

to {
    transform: translate3d(0,0,0);
    opacity: 1
}
}
@-webkit-keyframes fadeInUp2 {
from {
    transform: translate3d(0,70px,0)
}

to {
    transform: translate3d(0,0,0);
    opacity: 1
}
}
@keyframes fadeInUp3 {
    from {
        transform: translate3d(0,100px,0)
    }
    
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
    }
    @-webkit-keyframes fadeInUp3 {
    from {
        transform: translate3d(0,100px,0)
    }
    
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
    }

.animated {
animation-duration: 2s;
animation-fill-mode: both;
-webkit-animation-duration: 2s;
-webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
opacity: 0
}

.fadeInUp {
opacity: 0;
animation-name: fadeInUp;
-webkit-animation-name: fadeInUp;
}
.animatedFadeInUp2 {
opacity: 0
}
.fadeInUp2 {
opacity: 0;
animation-name: fadeInUp2;
-webkit-animation-name: fadeInUp2;
}
.animatedFadeInUp3 {
opacity: 0
}
.fadeInUp3 {
opacity: 0;
animation-name: fadeInUp3;
-webkit-animation-name: fadeInUp3;
}
